*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    height: 100vh;
}
.contenedor{
    background-color: #a3a3a3;
    height: 500px;
    width: 700px;
    padding: 20px;
}
.card{
    background-color: rgb(14, 155, 236);
    width: 200px;
    height: 200px;
}
.card__titulo{
    width: 100%;
    background-color: rgb(57, 160, 173);
    text-align: center;
    
}
.card__imagen{
    display: block;
    width: 150px;
    margin: 10px auto;
}